@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
    padding-right: 5%;
    padding-left: 3%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 180px;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    flex: 1;
   
}

nav ul li {
    display: inline-block;
    list-style:none;
    margin: 0 20px
}

nav ul li a {
    text-decoration: none;
    color: #3f3f3f;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    
}

.content {
    position: relative;
    margin-top: 10em;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 800;
    letter-spacing: .1em;
    font-size: 80px;
    color: #3f3f3f;
}

h1 .style {
    color:rgb(172, 254, 49);
    font-size: 100px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
    text-shadow:#000 -2px -2px
}

p {
    font-size: 20px;
    font-weight: 650;
    letter-spacing: .1em;
    margin-top: 35px;
    color: #3f3f3f;
}

.text {
    position: relative;
    display: flex;
    align-items: center;
}

.btn {
    background-color: greenyellow;
    cursor: pointer;
    margin-top: 80px;
    padding: 15px 45px;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    border: none;
    transition: .5s;
    color:#1b1b1b;
    border-radius: 30px;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
    background-size: 200% auto;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.image {
    position: absolute;
    width: 50%;
    height: 85%;
    bottom: 0;
    margin-bottom: 30px;
    padding-left: 25%;
    transition: all .5s;
}

.image:hover {
    width: 52%;
    height: 87%;
    transition: all .5s;

}


.buy {
    position: absolute;
    font-size: 50%;
    margin-left: 90%;
    padding: 5px 5px;
    cursor: pointer;

}

